
name: React CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    working-directory: Frontend/InsuranceApplication

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i
#     - run: npm test
#     - run: npm run build
  docker-push: 
      runs-on: ubuntu-latest
      needs: [build]
      steps:
      - uses: actions/checkout@v2
#       - name: Set up JDK 11
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11.0.4
      - name: docker login
        env:
          DOCKER_USER: ${{secrets.DOCKER_USERNAME}} 
          DOCKER_PASSWORD:  ${{secrets.DOCKER_PASSWORD}}
          REPO: ${{secrets.REPO}} 
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD  
      - name: build docker 
        run: |
          docker build "$GITHUB_WORKSPACE/Frontend/InsuranceApplication" -f  "Dockerfile" 
    #       docker push pratj97/insurance-backend:${{ github.sha }}
